# Maven #
target/

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.classpath
.project

.project
/*/.project
/*/src/META-INF

META-INF
/*/META-INF
/*/META-INF/*

bin
/*/bin
/*/bin/*

.DS_Store
/*/.DS_Store

# jrebel #
rebel.xml
src/main/resources/rebel.xml
*.log
/*.log
*.lck